---
import Layout from '../layouts/Layout.astro';
import LastSong from "../components/LastSong.astro";
import Section from "../components/Section.astro";
import Title from "../components/Title.astro";
---

<Layout title="home">
    <main class="flex flex-col md:flex-row gap-4">
        <section id="content" class="flex-1 flex flex-col gap-4">
            <Title>Things</Title>

            <Section>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aspernatur at consequuntur cumque dolore,
                    doloribus error est excepturi impedit in ipsum libero nemo perferendis quaerat quisquam repellat
                    veniam voluptas. Dolorem.</p>
            </Section>
            <Section>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aspernatur at consequuntur cumque dolore,
                    doloribus error est excepturi impedit in ipsum libero nemo perferendis quaerat quisquam repellat
                    veniam voluptas. Dolorem.</p>
            </Section>
            <Section>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aspernatur at consequuntur cumque dolore,
                    doloribus error est excepturi impedit in ipsum libero nemo perferendis quaerat quisquam repellat
                    veniam voluptas. Dolorem.</p>
            </Section>


            <Title>Stuff</Title>

            <Section>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aspernatur at consequuntur cumque dolore,
                    doloribus error est excepturi impedit in ipsum libero nemo perferendis quaerat quisquam repellat
                    veniam voluptas. Dolorem.</p>
            </Section>
            <Section>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aspernatur at consequuntur cumque dolore,
                    doloribus error est excepturi impedit in ipsum libero nemo perferendis quaerat quisquam repellat
                    veniam voluptas. Dolorem.</p>
            </Section>
            <Section>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aspernatur at consequuntur cumque dolore,
                    doloribus error est excepturi impedit in ipsum libero nemo perferendis quaerat quisquam repellat
                    veniam voluptas. Dolorem.</p>
            </Section>
        </section>
        <section id="widgets" class="md:w-96 flex-initial flex flex-col gap-4">
            <Title>Widgets</Title>
            <LastSong/>


            <Title>The like</Title>
            <Section>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aspernatur at consequuntur cumque dolore,
                    doloribus error est excepturi impedit in ipsum libero nemo perferendis quaerat quisquam repellat
                    veniam voluptas. Dolorem.</p>
            </Section>
            <Section>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aspernatur at consequuntur cumque dolore,
                    doloribus error est excepturi impedit in ipsum libero nemo perferendis quaerat quisquam repellat
                    veniam voluptas. Dolorem.</p>
            </Section>
            <Section>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aspernatur at consequuntur cumque dolore,
                    doloribus error est excepturi impedit in ipsum libero nemo perferendis quaerat quisquam repellat
                    veniam voluptas. Dolorem.</p>
            </Section>

        </section>
    </main>
</Layout>
